// zh-benmojinhei.ttf
@font-face {
  font-family : BlogZHBenMoJinHei;
  src         : url('./assets/fonts/zh-benmojinhei.ttf') ;
}


.font-zh-ben-mo-jin-hei {
  font-family : BlogZHBenMoJinHei, serif;
}


// zh-yunyouti.ttf
@font-face {
  font-family : BlogZHYunYouTi;
  src         : url('./assets/fonts/zh-yunyouti.ttf');
}


.font-zh-yun-you-ti {
  font-family : BlogZHYunYouTi, serif;
}

// zh-zhulangmaliedakaiti.otf
@font-face {
  font-family : BlogZHZhuLangMaLieDaKaiTi;
  src         : url('./assets/fonts/zh-zhulangmaliedakaiti.otf') ;
}


.font-zh-zhu-lang-ma-lie-da-kai-ti {
  font-family : BlogZHZhuLangMaLieDaKaiTi, serif;
}


// dameronoutital.ttf
@font-face {
  font-family : BlogDameronoutital;
  src         : url('./assets/fonts/dameronoutital.ttf');
}


.font-dameronoutital {
  font-family : BlogDameronoutital, BlogZHBenMoJinHei, serif;
}


// dat-box.ttf
@font-face {
  font-family : BlogDatBox;
  src         : url('./assets/fonts/dat-box.ttf') format('truetype');
}


.font-dat-box {
  font-family : BlogDatBox, BlogZHBenMoJinHei, serif;
}

// game-cube.ttf
@font-face {
  font-family : BlogGameCube;
  src         : url('./assets/fonts/game-cube.ttf') format('truetype');
}


.font-game-cube {
  font-family : BlogGameCube, BlogZHBenMoJinHei, serif;
}

// imagination-station.ttf
@font-face {
  font-family : BlogImaginationStation;
  src         : url('./assets/fonts/imagination-station.ttf') format('truetype');
}


.font-imagination-station {
  font-family : BlogImaginationStation, BlogZHBenMoJinHei, serif;
}

// offline-rough.otf
@font-face {
  font-family : BlogOfflineRough;
  src         : url('./assets/fonts/offline-rough.otf') format('wtf');
}


.font-offline-rough {
  font-family : BlogOfflineRough, BlogZHBenMoJinHei, serif;
}


// old-stamper.ttf
@font-face {
  font-family : BlogOldStamper;
  src         : url('./assets/fonts/old-stamper.ttf') format('truetype');
}


.font-old-stamper {
  font-family : BlogOldStamper, BlogZHBenMoJinHei, serif;
}

// rase-gpl-outline.ttf
@font-face {
  font-family : BlogRaseGPLOutline;
  src         : url('./assets/fonts/rase-gpl-outline.ttf') format('truetype');
}


.font-rase-gpl-outline {
  font-family : BlogRaseGPLOutline, BlogZHBenMoJinHei, serif;
}
